* {
    margin: 0;
    cursor: url('/images/yoda.png'), auto;
}

@supports (-webkit-text-stroke: 1px yellow) {
    h1 {
        text-align: center;
        font-size: 40pt;
        font-family: 'Star Jedi', arial;
        -webkit-text-stroke: 1px yellow;
        -webkit-text-fill-color: black;
        color: yellow;
    }
}

body {
    background-color: black;
}

#filmList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

figure {
    margin: 1rem;
    border: 10px groove yellow; 
}

@supports (-webkit-text-stroke: 1px yellow) {
    figcaption {
        text-align: center;
        font-size: 16pt;
        font-family: 'Star Jedi', arial;
        -webkit-text-stroke: 1px yellow;
        -webkit-text-fill-color: black;
        color: yellow;
        padding: 10px;
    }
}

