* {
    margin: 0;
}

body {
    background-color: #000;
}

#filmList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

figure {
    margin: 1rem;
}

@supports (-webkit-text-stroke: 1px yellow) {
    figcaption {
        text-align: center;
        font-size: 16pt;
        font-family: 'Star Jedi', arial;
        -webkit-text-stroke: 1px yellow;
        -webkit-text-fill-color: black;
        color: yellow;
    }
}
