:root {
    --dark-brown: #332213;
    --light-orange: #F29C50;
    --beige: #F2E8DC;
    --light-brown: #B28D61;
    --brown: #73462C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;   
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 9999;
    background-color: var(--dark-brown);
}

.navlist {
    display: flex;
    list-style: none;
}

.navlist a {
    display: block;
    font-size: 1.5em;
    padding: .75em .5em;
    color: #fff;
}

.navlist a:hover {
    background-color: var(--light-orange);
    color: #333;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--brown);
    color: #fff;
    width: 100%;
    height: 100vh;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--beige);
    height: 600px;
}

.project-tile {
    margin: 1em;
}

.project-tile:hover {
    color:#F29C50;
}

figcaption {
   position: relative;
   top: -7px;
   text-align: center;
   background-color: var(--dark-brown);
   font-weight: 900;
   color: var(--beige);
}

figcaption > span {
    font-size: 1.25em;
}

#contact {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: var(--light-brown);
   height: 300px;
}

.contact-links {
    display: flex;
    justify-content: space-around;
}

.contact-links a {
    margin: 1em;
    color: var(--beige);
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--dark-brown);
    height: 70px;
    color: var(--beige);
}

a {
    text-decoration: none;
}

@media (max-width: 1200px) {
    html {
        font-size: 100%;
    }
}

@media (max-width: 980px) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 460px) {
    html {
        font-size: 60%;
    }
}