* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@supports (-webkit-text-stroke: 1px rgb(57, 79, 174)) {
    h1 {
        font-family: Pokemon Solid;
      -webkit-text-stroke: 1px rgb(57, 79, 174);
      -webkit-text-fill-color: rgb(254, 208, 0);
    }
  }

.pokeGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.scene {
    width: 200px;
    height: 260px;
    border: 1px solid #ccc;
    margin: 10px;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    backface-visibility: hidden;
}

.card__face--front {
    background: red;
}

.card__face--back {
    background: blue;
    transform: rotateY(180deg);
}

.button.is-primary {
    color: red;
}

#submitButton {
    color: red;
}