* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('/images/ball.png'), auto;
}

body {
    margin: 0px 20px;
    background: linear-gradient(.25turn, rgb(254, 208, 0), rgb(57, 79, 174));
}


@supports (-webkit-text-stroke: 1px rgb(57, 79, 174)) {
    h1 {
        font-family: Pokemon Solid;
      -webkit-text-stroke: 1px rgb(57, 79, 174);
      -webkit-text-fill-color: rgb(254, 208, 0);
    }
  }

  header {
    margin: 10px;
    text-align: center;
    padding: 10px;
  }

.pokeGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

button {
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 4px;
    background: rgb(254, 201, 2);
    color: rgb(50, 70, 164);
    box-shadow: inset 0 0 0 0 navy;
    transition: ease-out .3s;
    outline: none;
    font-family: 'Sigmar One', cursive;
    font-size: 9pt;
}

button:hover {
    box-shadow: inset 300px 0 0 0 navy;
    cursor: pointer;
    color: rgb(254, 201, 2);
}

.scene {
    width: 200px;
    height: 260px;
    margin: 10px;
    perspective: 600px;
    
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    font-family: 'Sigmar One', cursive;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    backface-visibility: hidden;
}

@supports (-webkit-text-stroke: 1px rgb(57, 79, 174)) {
    .card__face--front {
      -webkit-text-stroke: 1px rgb(57, 79, 174);
      -webkit-text-fill-color: rgb(254, 208, 0);
      border-radius: 15px;
      color: black;
      border: solid 3px black;
      padding-top: 8px;
      font-size: 14pt;
    }
  }

.card__face--front img {
    height: 190px;
    width: 190px;
}

.card__face--back {
    /*background: rgb(189, 164, 105);*/
    transform: rotateY(180deg);
    border-radius: 15px;
    color: black;
    border: solid 3px black;
    font-size: 8pt;
}

/*.grass {
    background-color: rgb(76, 117, 130);
}

.fire {
    box-shadow: 10px 5px 5px red;
}

.bug {
    box-shadow: 10px 5px 5px green;
}

.normal {
    background-color: #A8A878;
}

.flying {
    background-color: aqua;
}*/