:root {
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    /* height: 100vh; */
}

.shipView {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 75%;
}

nav {
    width: 200px;
}

nav a:hover {
    color: yellow;
}

img, nav {
    position: relative;
    z-index: 1;
}

@supports (-webkit-text-stroke: 1px yellow) {
    h1 {
        text-align: center;
        font-size: 50pt;
        font-weight: 700;
        font-family: 'Star Jedi', arial;
        -webkit-text-stroke: 1px yellow;
        -webkit-text-fill-color: black;
        color: yellow;
    }
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style-type: none;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: yellow;
}
