* {
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-around;
}

@supports (-webkit-text-stroke: 1px yellow) {
    h1 {
        text-align: center;
        font-size: 40pt;
        font-family: 'Star Jedi', arial;
        -webkit-text-stroke: 1px yellow;
        -webkit-text-fill-color: black;
        color: yellow;
    }
}


#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

button {
    align-content: center;
    font-size: 1em;
    letter-spacing: 2px;
    color: white;
    padding: 1%;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 3px solid yellow;
    border-radius: 100px;
}

button:hover {
   color: black;
   background-color: yellow;
   box-shadow: 0 0 10px yellow, 0 0 40px yellow, 0 0 80px yellow;
}

figure > img {
    height: 200px;
    border: 4mm ridge rgba(242, 232, 182, .6);
    margin: 14px 14px 0px 14px;
}

figcaption {
    text-align: center;
    color: yellow;
    font-family: 'Orbitron', sans-serif; 
    font-size: 11pt;
}