* {
    margin: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Public Sans', sans-serif;
    padding: 10px;
    background: lightblue;
}

h1 {
    padding: 10px;
}

button {
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 4px;
    background: #596CD9;
    color: white;
    box-shadow: inset 0 0 0 0 #F25050;
    transition: ease-out .3s;
    outline: none;
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;

}

button:hover {
    box-shadow: inset 300px 0 0 0 #F25050;
    cursor: pointer;
    color: white;
}

.congressGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #F0F0F0;
}

.figureDiv {
    padding: 6px;
    margin: 6px;
    border: 1px red solid;
    box-shadow: 3px 3px 3px black;
}

figure {
    width: 100px;
}

figcaption {
    text-align: center;
}