* {
    margin: 0;
    box-sizing: border-box;
}

button {
    width: 27vh;
    margin: 1em;
    padding: .5em;
    background: red;
    color: white;
    font-weight: 700;
    border: 3px solid rgb(50, 70, 164);
    border-radius: 10px;
}

button:hover {
    background: lightsteelblue;
}

.congressGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.figureDiv {
    padding: 6px;
    margin: 6px;
    border: 1px red solid;
    box-shadow: 3px 3px 3px black;
}

figure {
    width: 100px;
}

figcaption {
    text-align: center;
}